@font-face {
    font-family: 'Scribblish-Scribbled-1'; /*a name to be used later*/
    src: url('https://kubagurpl.github.io/Scribblish-Scribbled-1-0.ttf'); /*URL to font*/
}
h1 {
  color: blue;
  text-align: center;
}

body {
  background-color: #000000;
  color: #0B0;
}

#outputTxt
{
  font-family: 'Scribblish-Scribbled-1';
  font-size:50px;
  word-wrap: break-word;
}

#inptxt {
  background-color: lightgreen;
  color: darkblue;
}
