#maintxt {
  color: #515c08;
  font-family: verdana,monospace;
  text-align: center;
  background:-moz-linear-gradient;
}

ul {
  font-family: verdana;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #eee;
}

li {
  float: left;
}

li a {
  display: block;
  color: #000;
  padding: 5px 10px;
  text-decoration: none;
}

li a:hover {
  background-color: #585;
  color: white;
}
